<h1>All Restaurants</h1>
<ul>
    <% @restaurants.each do |restaurant|%>
    <li> <%=link_to restaurant.name, restaurant_path(restaurant.id)%> </li>
    <%end%>
</ul>

<%= link_to "Create New Restaurant", new_restaurant_path %>

<iframe width="420" height="345" src="https://www.youtube.com/watch?v=D3g16ViTdic">
</iframe>
